@model List<UserRoleViewModel>
@{
    ViewData["Title"] = "AddEditUsersInRole";
    IdentityRole role = (IdentityRole)ViewBag.Role;
}

<h4>Add and Remove Users for @role.Name Role</h4>
<hr />
<div class="row">
    <form asp-action="AddEditUsersInRole" asp-route-roleId="@role.Id">
       
        @for (int i=0;i < Model.Count();i++)
        {

        <div class="form-check m-1">
            <input hidden asp-for="@Model[i].UserId">
            <input hidden asp-for="@Model[i].UserName">
            <input class="form-check-input" asp-for="@Model[i].IsSelected">
            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                @Model[i].UserName
            </label>
        </div>

        }
        <hr />
        <input type="submit" class="btn btn-primary" value="Update"/>
        <a class="btn btn-default"
           asp-controller="Administration"
           asp-action="EditRole"
           asp-route-id="@role.Id"
           >Cancel</a>
    </form>
</div>